.identity{
  position: relative;
  background-color: #efefef;
  .formArea{
    padding-top: 40px;
    background-color: #ffffff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
    :global {
      .ant-form {
        padding: 0;
      }
      .ant-form-item {
        margin-bottom: 40px;
        .ant-input {
          text-indent: 15px;
        }
      }
    }
    .buttBox {
      width: 100%;
      padding-bottom: 40px;
    }
    .checkBut {
      margin:0 auto;
      width:240px;
      height:70px;
      border-radius:35px;
      border:none;
      text-indent:48px;
      background-image:url(../../../static/img/icon_kh_sfhc.png);
      background-size:32px 32px;
      background-position: 40px 20px;
      background-repeat:no-repeat;
      background-color:#c5342a;
      span {
        font-size:28px;
        color:#fff;
        font-weight: normal;
      }
      &.activited {
        background-color:#ddd;
        pointer-events: none!important;
      }
    }
  }

  .tip{
    margin: 0 30px 30px 30px;
    height: 70px;
    p{
      line-height: 70px;
      display: inline-block;
      width: 100%;
      border: 1PX solid #ffdba2;
      background-color: #fffcf8;
      box-sizing: border-box;
      color: #c5342a;
      font-size: 24px;
      text-align: center;
      margin: 0;
      border-radius: 8px;
      span{
        background:url(../../../static/img/icon_tips_a.png) no-repeat;
        width:24px;
        height:24px;
        background-size:24px;
        display: inline-block;
        position: relative;
        margin-right: 16px;
        top: 4px;
      }
    }
  }

  .selectDepart{
    width: 50%;
    height: 90px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .searchBar {
    box-sizing: border-box;
    height:90px;
    background:#fafafa;
    padding:15px 0px;
    .searchForm {
      margin:0 auto;
      width:550px;
    }
    input{
      box-sizing: border-box;
      width:550px;
      height:60px;
      line-height:60px;
      color:#333;
      background:#fff;
      border-radius:30px;
      padding-left:80px !important;
      padding-right:55px;
      font-size:26px;
      background:#efefef;
      border:none;
      &::-webkit-input-placeholder {
        text-align:center;
        color:#bbb;
      }
    }
    .searchIcon{
      background:url(../../../static/img/icon_search.png) no-repeat;
      background-size:32px 31px;
      width:32px;
      height:31px;
      display:block;
      position:relative;
      left:23px;
    }
    .searchIconP {
      background:url(../../../static/img/icon_search.png) no-repeat;
      background-size:32px 31px;
      width:32px;
      height:31px;
      display:block;
      position:relative;
      left:110px;
    }
    .searchClear{
      background:url(../../../static/img/icon_close.png) no-repeat;
      background-size:32px 32px;
      width:32px;
      height:32px;
      display:block;
      position:relative;
      right:10px;
    }
    :global {
      .ant-form-item-with-help {
        margin-bottom: inherit;
      }
      .ant-input-affix-wrapper {
        .ant-input {
          &:hover {
            border:none;
            background:#fff;
          }
          &:select {
            border:none;
            background:#fff;
          }
        }
      }
    }
  }
}